.ps-container .ps-scrollbar-x-rail {
	border-radius: 4px; transition:background-color 0.2s linear, opacity 0.2s linear; height: 8px; bottom: 3px; position: absolute; opacity: 1; -webkit-transition: background-color .2s linear, opacity .2s linear; -moz-transition: background-color .2s linear, opacity .2s linear; -o-transition: background-color .2s linear, opacity .2s linear; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.ps-container:hover .ps-scrollbar-x-rail {
	opacity: 1;
}
.ps-container.hover .ps-scrollbar-x-rail {
	opacity: 1;
}
.ps-container .ps-scrollbar-x-rail:hover {
	opacity: 1; background-color: rgb(223, 223, 223);
}
.ps-container .ps-scrollbar-x-rail.hover {
	opacity: 1; background-color: rgb(223, 223, 223);
}
.ps-container .ps-scrollbar-x-rail.in-scrolling {
	opacity: 1; background-color: rgb(223, 223, 223);
}
.ps-container .ps-scrollbar-y-rail {
	background: rgb(223, 223, 223); border-radius: 4px; transition:background-color 0.2s linear, opacity 0.2s linear; width: 8px; right: 3px; position: absolute; opacity: 1; -webkit-transition: background-color .2s linear, opacity .2s linear; -moz-transition: background-color .2s linear, opacity .2s linear; -o-transition: background-color .2s linear, opacity .2s linear; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.ps-container:hover .ps-scrollbar-y-rail {
	opacity: 1;
}
.ps-container.hover .ps-scrollbar-y-rail {
	opacity: 1;
}
.ps-container .ps-scrollbar-y-rail:hover {
	opacity: 1; background-color: rgb(223, 223, 223);
}
.ps-container .ps-scrollbar-y-rail.hover {
	opacity: 1; background-color: rgb(223, 223, 223);
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
	opacity: 1; background-color: rgb(223, 223, 223);
}
.ps-container .ps-scrollbar-x {
	border-radius: 4px; transition:background-color 0.2s linear; height: 8px; bottom: 0px; position: absolute; background-color: rgb(91, 76, 92); -webkit-transition: background-color.2s linear; -moz-transition: background-color .2s linear; -o-transition: background-color .2s linear; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.ps-container.ie6 .ps-scrollbar-x {
	font-size: 0px;
}
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x {
	background-color: rgb(91, 76, 92);
}
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
	background-color: rgb(91, 76, 92);
}
.ps-container .ps-scrollbar-y {
	border-radius: 4px; transition:background-color 0.2s linear; width: 8px; right: 0px; position: absolute; background-color: rgb(91, 76, 92); -webkit-transition: background-color.2s linear; -moz-transition: background-color .2s linear; -o-transition: background-color .2s linear; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.ps-container.ie6 .ps-scrollbar-y {
	font-size: 0px;
}
.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y {
	background-color: rgb(91, 76, 92);
}
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
	background-color: rgb(91, 76, 92);
}
.ps-container.ie .ps-scrollbar-x {
	visibility: hidden;
}
.ps-container.ie .ps-scrollbar-y {
	visibility: hidden;
}
.ps-container.ie:hover .ps-scrollbar-x {
	visibility: visible;
}
.ps-container.ie:hover .ps-scrollbar-y {
	visibility: visible;
}
.ps-container.ie.hover .ps-scrollbar-x {
	visibility: visible;
}
.ps-container.ie.hover .ps-scrollbar-y {
	visibility: visible;
}
